@{
    ViewBag.Title = "Home Page";
}

<html>
<body>
    @*<p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <p>Jquery</p>
    <img src="~/img/WhatsApp Image 2022-03-14 at 01.13.40.jpeg" />
    <a href="#top">Go top</a>*@
    <input id="accept" type="checkbox" name="accept" value="elf" />Kabul Ediyorum <br />
    <input id="submitbtn" type="submit" disabled name="acceptt" value="Gönder" />
    <script>
        //Scroll bar açılınca yavaşça yukarı kaydırma.
        //$("a[href='#top']").click(function () {
        //    $("html").animate({ scrollTop: 0 }, "slow");
        //});

        //Sağ tık yapılamaz hale getirme.
        //$(document).bind("contextmenu", function (e) {
        //    return false;
        //})

        //Resimi sağ tıklamanaz hale getirme
        //$('body').on('contextmenu', 'img', function (e) {
        //    return false;
        //});

        //Checkbox dolu olduğunda gönder butonu aktif boş olduğunda pasif olan yapı
        //$('#accept').click(function () {
        //    if ($('#submitbtn').is(':disabled')) {
        //        $('#submitbtn').removeAttr('disabled')
        //    }
        //    else {
        //        $('#submitbtn').attr('disabled','');
        //    }
        //});




    </script>
</body>
</html>